body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pokemon-container {
  display: flex;
  justify-content: space-around;
  
}

.pokemon-captured-list{
  min-width: 40vw;
  padding:30px;
  margin-top: 50px;
}


.pokemon-list {
  min-width: 40vw;
  padding:30px;
  margin-top: 50px;
}

.pokemon-form{
  text-align: center;
  max-width: 25%;
  margin: 100px auto;
}